.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}



.dialogsItem {
    padding: 10px;

}
.dialogsItem a.active{
    color: gold;
}

.dialogsItem a{
    text-decoration:none ;
   
}


.dialog {
}

.messages {
    
    padding: 10px;

}

.messages img {
width: 20px;
}